<%= simple_form_for(@ranking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :player_id %>
    <%= f.input :points %>
    <%= f.input :breakpoints %>
    <%= f.input :sos %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
