<h1>Listing rankings</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Points</th>
      <th>Breakpoints</th>
      <th>Sos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
        <td><%= ranking.player_id %></td>
        <td><%= ranking.points %></td>
        <td><%= ranking.breakpoints %></td>
        <td><%= ranking.sos %></td>
        <td><%= link_to 'Show', ranking %></td>
        <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
        <td><%= link_to 'Destroy', ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ranking', new_ranking_path %>
