<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @ranking.player_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @ranking.points %>
</p>

<p>
  <strong>Breakpoints:</strong>
  <%= @ranking.breakpoints %>
</p>

<p>
  <strong>Sos:</strong>
  <%= @ranking.sos %>
</p>

<%= link_to 'Edit', edit_ranking_path(@ranking) %> |
<%= link_to 'Back', rankings_path %>
