<%= link_to t('newInscription'), "/tourneys/#{@tourney.id}/newPlayer", class: "btn btn-primary btn-lg pull-right", role:"button" %>

<%= render partial: 'rounds/notice' %>
<h2><%= t('listingInscribedPlayers')%></h2>


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Ranking.human_attribute_name(:player_id) %></th>
	  	<th><%= Ranking.human_attribute_name(:bye) %></th>
      <th></th>
			<th></th>
    </tr>
  </thead>

  <tbody>
    <% @tourney.rankings.each do |ranking| %>
      <tr>
				<% if ranking.dropped %>
				<td><s><%= ranking.player.completeName %></s></td>
				<% else %>
        <td><%= ranking.player.completeName %></td>
				<% end %>
		<td><%= ranking.bye if ranking.bye == true %></td>
		<% if ranking.dropped %>
		<td><%= link_to I18n.t('undrop'), "/tourneys/#{@tourney.id}/undropPlayer/#{ranking.player.id}", class: "btn btn-warning btn-xs", role:"button" %></td>
		<% else %>
    <td><%= link_to I18n.t('drop'), "/tourneys/#{@tourney.id}/dropPlayer/#{ranking.player.id}", class: "btn btn-warning btn-xs", role:"button" %></td>
		<% end %>
        <td><%= link_to I18n.t('destroy'), "/tourneys/#{@tourney.id}/removePlayer/#{ranking.player.id}",  data: { confirm: t("areYouSure") }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('newInscription'), "/tourneys/#{@tourney.id}/newPlayer", class: "btn btn-primary btn-lg pull-right", role:"button" %>
<%= link_to t('printPage'), "/tourneys/#{@tourney.id}/printInscribed", class: "btn btn-info btn-lg pull-left", role:"button", :target => "_blank" %>

