<%= render partial: 'rounds/notice' %>
<% position = 0 %>
<h2><%= t('ranking')%></h2>
<table class="table">
  <thead>
    <tr>
	  <th><%= t('position')%></th>
      <th><%= Player.human_attribute_name(:player_id) %></th>
			<th><%= Ranking.human_attribute_name(:numberOfMatches) %></th>
      <th><%= Ranking.human_attribute_name(:points) %></th>
	  <th><%= Ranking.human_attribute_name(:breakpoints) %></th>
	  <th><%= Ranking.human_attribute_name(:sos) %></th>
    </tr>
  </thead>

  <tbody>
    <% @tourney.rankings.each do |ranking| %>
      <tr>
		<td><%= position += 1%>  
    <td><%= ranking.player.completeName %></td>
		<td><%= ranking.numberOfMatches %></td>
		<td><%= ranking.points %></td>
		<td><%= ranking.breakpoints %></td>
		<td><%= ranking.sos %></td>
      </tr>
    <% end %>
  </tbody>
</table>


