<h1><%= t('listingTourneys')%></h1>
<%= link_to I18n.t('newTourney'), new_tourney_path, class: "btn btn-primary btn-lg", role:"button" %>
<table class="table">
  <thead>
    <tr>
      <th><%= Tourney.human_attribute_name(:state) %></th>
      <th><%= Tourney.human_attribute_name(:titulo) %></th>
	  	<th><%= Tourney.human_attribute_name(:playDate) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tourneys.each do |tourney| %>
      <tr>
        <td><%= tourney.stateName %></td>
        <td><%= tourney.titulo %></td>
		<td><%= tourney.playDate.to_formatted_s(:long_ordinal) unless tourney.playDate.nil? %></td>
        <td><%= link_to I18n.t('show'), tourney_rounds_path(tourney), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to I18n.t('edit'), edit_tourney_path(tourney), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to I18n.t('destroy'), tourney, method: :delete, data: { :confirm => t("areYouSure") }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('newTourney'), new_tourney_path, class: "btn btn-primary btn-lg", role:"button" %>
