<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @tourney.state %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @tourney.titulo %>
</p>

<%= link_to 'Edit', edit_tourney_path(@tourney) %> |
<%= link_to 'New round', new_tourney_round_path(@tourney) %> |
<%= link_to 'Back', tourneys_path %>
