<%= form_for([@tourney, @round], role: "form") do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <%= f.label :order %><br>
    <%= f.number_field :order, class: "form-control" %>
  </div>
  <div class="form_group">
    <%= f.label :tourney_id %><br>
    <%= f.number_field :tourney_id, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
