<h1>Listing rounds</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Tourney</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.order %></td>
        <td><%= round.tourney_id %></td>
        <td><%= link_to 'Show', tourney_round_path(@tourney, round) %></td>
        <td><%= link_to 'Edit', edit_tourney_round_path(@tourney, round) %></td>
        <td><%= link_to 'Destroy', [@tourney, round], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_tourney_round_path(@tourney) %>
