
<div class='tourney-tab'>
	<%= link_to I18n.t('report'), tourney_report_path(@tourney), class: "btn btn-default btn-xs pull-right", role:"button" %>
	
	<h1><%= t('tourney')%></h1>
	<%= render 'tourneys/info' %>	
	
</div>
<ul class="nav nav-tabs tourney-tabs" role="tablist">
  <li class="<%= checkActiveTab(:inscribed)%>" ><a href="#tab1" role="tab" data-toggle="tab"><%= t('inscribed')%></a></li>
  <li class="<%= checkActiveTab(:ranking)%>"><a href="#tab2" role="tab" data-toggle="tab"><%= t('ranking')%></a></li>
  <li class="<%= checkActiveTab(:rounds)%>"><a href="#tab3" role="tab" data-toggle="tab"><%= t('rounds')%></a></li>
</ul>



<div class="tab-content">
	<div class="tab-pane <%= checkActiveTab(:inscribed)%>" id="tab1"><%= render 'tourneys/inscribed' %></div>
	<div class="tab-pane <%= checkActiveTab(:ranking)%>" id="tab2"><%= render 'tourneys/ranking' %></div>
	<div class="tab-pane <%= checkActiveTab(:rounds)%>" id="tab3"><%= render 'tourneys/rounds' %></div>
</div>



