<h1>Listing rounds</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @tourney.state %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @tourney.titulo %>
</p>

<%= link_to 'Edit', edit_tourney_path(@tourney) %> |
<%= link_to 'Back', tourneys_path %>


<table class="table">
  <thead>
    <tr>
      <th>Order</th>
      <th>Tourney</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.order %></td>
        <td><%= round.tourney_id %></td>
        <td><%= link_to 'Show', tourney_round_matches_path(@tourney, round), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Edit', edit_tourney_round_path(@tourney, round), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Destroy', [@tourney, round], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_tourney_round_path(@tourney), class: "btn btn-primary btn-lg", role:"button" %>
