
<div class='tourney-tab'>
	<ul class="nav nav-pills nav-stacked pull-right">
		<li>
			<%= link_to I18n.t('editTourney'), edit_tourney_path(@tourney)%>
		</li>
	    <% unless @tourney.publicId.nil? %>
		<li>
		  <% url = url_for(:controller => 'public_tourney', :action => 'index', :publicId => @tourney.publicId) %>
	      <%= link_to I18n.t('publicURL'), url, target: "_blank" %>
	    <% end %>
		<li>
			<%= link_to I18n.t('report'), tourney_report_path(@tourney) %>
		</li>
	</ul>
	<h1><%= t('tourney')%></h1>
	<%= render 'tourneys/info' %>	
	
</div>
<ul class="nav nav-tabs tourney-tabs" role="tablist">
  <li class="<%= checkActiveTab(:inscribed)%>" ><a href="#tab1" role="tab" data-toggle="tab"><%= t('inscribed')%></a></li>
  <li class="<%= checkActiveTab(:ranking)%>"><a href="#tab2" role="tab" data-toggle="tab"><%= t('ranking')%></a></li>
  <li class="<%= checkActiveTab(:rounds)%>"><a href="#tab3" role="tab" data-toggle="tab"><%= t('rounds')%></a></li>
</ul>



<div class="tab-content">
	<div class="tab-pane <%= checkActiveTab(:inscribed)%>" id="tab1"><%= render 'tourneys/inscribed' %></div>
	<div class="tab-pane <%= checkActiveTab(:ranking)%>" id="tab2"><%= render 'tourneys/ranking' %></div>
	<div class="tab-pane <%= checkActiveTab(:rounds)%>" id="tab3"><%= render 'tourneys/rounds' %></div>
</div>



