
<h1>Tournament</h1>

<p id="notice"><%= notice %></p>

<%= render 'tourneys/info' %>
<h2>Listing inscribed players</h2>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tourney.players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= link_to 'Remove', "/tourneys/#{@tourney.id}/removePlayer/#{player.id}",  data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Inscription', "/tourneys/#{@tourney.id}/newPlayer", class: "btn btn-primary btn-lg", role:"button" %>

<% position = 0 %>
<h2>Ranking</h2>
<table class="table">
  <thead>
    <tr>
	  <th>Ranking</th>
      <th>Player</th>
      <th>Points</th>
	  <th>Breakpoints</th>
	  <th>SOS</th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
		<td><%= position += 1%>  
        <td><%= ranking.player.name %></td>
		<td><%= ranking.points %></td>
		<td><%= ranking.breakpoints %></td>
		<td><%= ranking.sos %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Listing rounds</h2>

<%= link_to 'Edit', edit_tourney_path(@tourney) %> |
<%= link_to 'Back', tourneys_path %>


<table class="table">
  <thead>
    <tr>
      <th>Order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.order %></td>
        <td><%= link_to 'Show', tourney_round_matches_path(@tourney, round), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Edit', edit_tourney_round_path(@tourney, round), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Destroy', [@tourney, round], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_tourney_round_path(@tourney), class: "btn btn-primary btn-lg", role:"button" %>
