
<%= render 'tourneys/info' %>

<h1><%= t('newInscription')%></h1>

<%= form_for("inscription", url: "/tourneys/#{@tourney.id}/createInscription", role: "form") do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="from_group">
    <%= Player.human_attribute_name(:name) %><br>
	<%= select("player", "id", collectPlayersForAllTournmanets, {include_blank: 'None'}, class: "form-control") %>
  </div>  
  
  <div class="from_group">
	  <%= f.label :bye %><br>
	  <%= f.check_box :bye %>
  </div>  
  
  <%= f.submit class: "btn btn-default" %>
<% end %>
<%= link_to t('newPlayer'), new_player_path(tourney_id: @tourney), class: "btn btn-primary btn-lg", role:"button" %>
<%= link_to I18n.t('back'), tourney_rounds_path(@tourney) %>
