<p id="notice"><%= notice %></p>

<p>
  <strong><%= Round.human_attribute_name(:order) %>:</strong>
  <%= @round.order %>
</p>

<p>
  <strong><%= Round.human_attribute_name(:tourney_id) %>:</strong>
  <%= @round.tourney_id %>
</p>

<%= link_to I18n.t('edit'), edit_tourney_round_path(@tourney,@round) %> |
<%= link_to I18n.t('back'), tourney_rounds_path(@tourney) %>
