<h1>Listing players</h1>

<%= link_to 'New Player', new_player_path, class: "btn btn-primary btn-lg", role:"button" %>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ranking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td><%= player.ranking %></td>
        <td><%= link_to 'Show', player, class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Edit', edit_player_path(player), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path, class: "btn btn-primary btn-lg", role:"button" %>
