<h1><%= t('listingPlayers')%></h1>

<%= link_to t('newPlayer'), new_player_path, class: "btn btn-primary btn-lg", role:"button" %>

<table class="table">
  <thead>
    <tr>
      <th><%= Player.human_attribute_name(:name) %></th>
      <th><%= Player.human_attribute_name(:ranking) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.ranking %></td>
        <td><%= link_to I18n.t('show'), player, class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to I18n.t('edit'), edit_player_path(player), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to I18n.t('destroy'), player, method: :delete, data: { confirm: t("areYouSure") }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('newPlayer'), new_player_path, class: "btn btn-primary btn-lg", role:"button" %>
