<%= render partial: 'rounds/notice' %>
<h1>X-Wing</h1>
<h2><%= t('listingPlayers')%></h2>

<%= form_tag({controller: "players", action: "list"}, method: :get) do %>
  <div class="form-group">
    <%= label_tag :city %><br>
	<%= select_tag :city, options_for_select(collectCities, @selectedCity),{include_blank: '',class: "form-control"} %>
  </div>
  <%= submit_tag nil, class: "btn btn-default" %>
<% end %>

<% position = 1 %>
<table class='table'>
  <thead>
    <tr>
      <th><%= t('position') %></th>
      <th><%= Player.human_attribute_name(:firstName)%></th>
			<th><%= Player.human_attribute_name(:lastName)%></th>
      <th><%= Player.human_attribute_name(:city)%></th>
      <th><%= Player.human_attribute_name(:ranking)%></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= position %></td>
        <td><%= player.firstName %></td>
				<td><%= player.lastName %></td>
        <td><%= player.city %></td>
        <td><%= player.ranking %></td>
      </tr>
    <% position += 1 %>
    <% end %>
  </tbody>
</table>

<br>
