<p id="notice"><%= notice %></p>

<p>
  <strong><%= Player.human_attribute_name(:name) %>:</strong>
  <%= @player.name %>
</p>

<p>
  <strong><%= Player.human_attribute_name(:email) %>:</strong>
  <%= @player.email %>
</p>

<p>
  <strong><%= Player.human_attribute_name(:city) %>:</strong>
  <%= @player.city %>
</p>

<p>
  <strong><%= Player.human_attribute_name(:ranking) %>:</strong>
  <%= @player.ranking %>
</p>

<%= link_to I18n.t('edit'), edit_player_path(@player) %> |
<%= link_to I18n.t('back'), players_path %>
