<%= form_for([@tourney, @round, @match], role: "form") do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="from_group">
    <%= f.label :player1_id %><br>
    <%= f.number_field :player1_id, class: "form-control" %>
  </div>
  <div class="form_group">
    <%= f.label :player2_id %><br>
    <%= f.number_field :player2_id, class: "form-control" %>
  </div>
  <div class="form_group">
    <%= f.label :winner %><br>
    <%= f.number_field :winner, class: "form-control" %>
    <p>Set 0 if draw, 1 if player 1 was winner or 2 if player 2 was winner</p>
  </div>
  <div class="form_group">
    <%= f.label :round_id %><br>
    <%= f.number_field :round_id, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
