<%= form_for([@tourney, @round, @match], role: "form") do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="from_group">
    <%= f.label :player1_id %><br>
	<%= select("match", "player1_id", collectPlayersForTournmanet(@tourney), {include_blank: 'None'}, class: "form-control") %>
  </div>
  <div class="form_group">
    <%= f.label :player2_id %><br>
	<%= select("match", "player2_id", collectPlayersForTournmanet(@tourney), {include_blank: 'None'}, class: "form-control") %>
  </div>
  <div class="form_group">
    <%= f.label :points1 %><br>
	<%= f.number_field :points1, class: "form-control" %>
  </div>
  <div class="form_group">
    <%= f.label :points2 %><br>
	<%= f.number_field :points2, class: "form-control" %>
  </div>
  
  
  <%= f.hidden_field :round_id, class: "form-control" %>
  
  <%= f.submit class: "btn btn-default" %>
<% end %>
	