<%= link_to link_to I18n.t('newMatch'), new_tourney_round_match_path(@tourney, @selectedRound), class: "btn btn-primary btn-lg pull-right", role:"button"  unless @selectedRound.nil? %>

<h1><%= t('listingMatches') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Match.human_attribute_name(:player1_id) %></th>
      <th><%= Match.human_attribute_name(:points1) %></th>
      <th><%= Match.human_attribute_name(:player2_id) %></th>
      <th><%= Match.human_attribute_name(:points2) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<% @matches ||= [] %>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.player1.completeName %></td>
        <td><%= match.points1 %></td>
        <td><%= match.player2.completeName unless match.player2.nil? %></td>
        <td><%= match.points2 unless match.player2.nil? %></td>
        <td><%= link_to I18n.t('edit'), edit_tourney_round_match_path(@tourney, @selectedRound, match), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to I18n.t('destroy'), [@tourney, @selectedRound, match], method: :delete, data: { confirm: t("areYouSure") }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to link_to I18n.t('newMatch'), new_tourney_round_match_path(@tourney, @selectedRound), class: "btn btn-primary btn-lg pull-right", role:"button" unless @selectedRound.nil? %>
