<h1>Listing matches</h1>

<p>
  <strong>Order:</strong>
  <%= @round.order %>
</p>

<p>
  <strong>Tourney:</strong>
  <%= @round.tourney_id %>
</p>

<%= link_to 'Edit', edit_tourney_round_path(@tourney,@round) %> |
<%= link_to 'Back', tourney_rounds_path(@tourney) %>

<table class="table">
  <thead>
    <tr>
      <th>Player1</th>
      <th>Name</th>
      <th>Player2</th>
      <th>Name</th>
      <th>Winner</th>
      <th>Round</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.player1_id %></td>
        <td><%= match.player1.name %></td>
        <td><%= match.player2_id %></td>
        <td><%= match.player2.name %></td>
        <td><%= match.winner %></td>
        <td><%= match.round_id %></td>
        <td><%= link_to 'Edit', edit_tourney_round_match_path(@tourney, @round, match), class: "btn btn-default btn-xs", role:"button" %></td>
        <td><%= link_to 'Destroy', [@tourney, @round, match], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_tourney_round_match_path(@tourney, @round), class: "btn btn-primary btn-lg", role:"button" %>
