<p id="notice"><%= notice %></p>

<p>
  <strong>Player1:</strong>
  <%= @match.player1_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @match.player2_id %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Round:</strong>
  <%= @match.round_id %>
</p>

<%= link_to 'Edit', edit_tourney_round_match_path(@tourney, @round, @match) %> |
<%= link_to 'Back', tourney_round_matches_path(@tourney, @round) %>
